@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
.wrap{
	margin:0 auto;
	}
ul, ol, dl{
	list-style:none;
	}
a{
	text-decoration:none;
	color:#000;
	font-size:12px;
	}
.clearfix:after{
	display:block;
	content:"";
	clear:both;
	}
.clearfix{
	zoom:1;
	}
input{
	outline:none;
	}
img{
	display:block;
	}
input{
	outline:none;
	}