@charset "utf-8";
/* CSS Document */
* {
    margin:0;
	padding:0;	
	}
.wrap{
	margin:0 auto;
	}
ul, ol, dl{
	list-style:none;
	}
a{
	text-decoration:none;
	color:#000;
	}
.clearfix:after{
	display:block;
	content:"";
	clear:both;
	}
.clearfix{
	zoom:1;
	}
img{
	display:block;
	}